@model SchoolERPSYSTEM.Models.CollectFee

@{
    ViewBag.Title = "Collectfee";
    Layout = "~/Views/Admin.cshtml";
}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Settings</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Settings</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title m-b-0"><i class="fa fa-list-alt"></i> Fee Category</h5>
                    </div>



                    <div class="row">

                        <div class="card-body">
                            @using (Html.BeginForm("SubmitFee", "CollectFee", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>CollectFee</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AdmissionNo, "Admission No", htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.AdmissionNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AdmissionNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FirstName, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })

                                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Class, htmlAttributes: new { @class = "control-label col-md-2" })

                                                @Html.DropDownListFor(model => model.Class, new SelectList(ViewBag.Level, "LevelID", "Levelname"), "--Select--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.SessionName, htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.DropDownListFor(model => model.SessionName, new SelectList(ViewBag.Session, "SessionID", "Session"), "--Select--", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">

                                                @Html.LabelFor(model => model.teller, "Upload Teller", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <input type="file" name="PdfFile" required class="form-control" />
                                                @Html.ValidationMessageFor(model => model.teller, "", new { @class = "text-danger" })

                                            </div>


                                        </div>

                                    </div>

                                            @Html.HiddenFor(model => model.id)

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <input type="submit" value="Save" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts
{
    <script>


        //$(document).ready(function () {

        //    toastr.error("Test");
        //});

        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        @*function Delete(id) {
            alertify.confirm('Web Api CRUD Operations','Are You Sure to Delete this Record ?',function(){
                window.location.href  = '@Url.Action("Delete","Employee")/'+id;
            },null );
        }*@
    </script>

}